{% extends 'base_users.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}Edu-track - Presentaciones
{% endblock %}
{% block bodytitle %}Eliminar Presentacion
{% endblock %}

{% block body %}
	
		<div class="alert alert-danger">
			<p class="fw-bold">¿Está seguro de eliminar esta Presentacion?</p>
		</div>
                {{ form(form) }}
        
        <form action="{{ path('app_presentacion_actividad_dodelete') }}" method="POST">
            
		<input type="hidden" name="id" value="{{ presentacion_actividad.id }}"/>
		<input type="hidden" name="_method" value="DELETE"/>
		<input type="hidden" name="_token" value="{{ csrf_token('borrarcosa') }}"/>
		<input type="submit" value="Eliminar" class="btn btn-danger" style="float: right" /><a href="{{ path('app_presentacion_actividad') }}" class="btn btn-secondary">Volver</a>
		
	</form>
{% endblock %}
