{% extends 'base_users.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}Edu-track - Presentaciones
{% endblock %}
{% block bodytitle %}Presentación de Actividad
{% endblock %}

{% block body %}
	{# <turbo-frame id="presentacion-actividad"> #}
	{{ include('alert.html.twig', with_context = true) }}

	{#  #}

	{% if presentacion_actividad.Estado == 'Iniciado' %}
		<!-- Button trigger modal -->
		<div class="text-end">
			<button type="button" class="btn btn-success flex" data-bs-toggle="modal" data-bs-target="#shareModal">
				<i class="bi bi-link-45deg"></i>
				Compartir
			</button>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="shareModal" data-controller="modal" data-modal-open-value="{{ modal ? 'true' : 'false' }}" tabindex="-1" aria-labelledby="shareModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="shareModalLabel">Compartir con los Alumnos</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body text-center">
						<p class="mt-4 mb-2">Copiar el link y compartir:</p>
						<div class="input-group" data-controller="clipboard">
							<input required readonly="readonly" aria-label="URL para compartir" data-clipboard-target="source" class="form-control" value="{{ url }}">
							<button type="button" id="clipboardcopy" data-bs-toggle="tooltip" data-bs-placement="top" title="Copiar" class="btn btn-secondary" data-action="clipboard#copy">
								<i class="bi bi-clipboard"></i>
							</button>
						</div>
						<p class="mt-4 mb-0">O puede usar el siguiente código QR:</p>
						<div class="text-center"><img style="width: 200px; height: 200px" src="{{ qr_code_url(url) }}"/></div>
						<a href="{{ qr_code_url(url) }}" class="btn btn-primary" download="qrcode.png">Descargar código QR</a>

					</div>
					<div
						class="modal-footer">{#        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
																					                                                                                                                                                                                                        <button type="button" class="btn btn-primary">Save changes</button>#}
					</div>
				</div>
			</div>
		</div>
	{% endif %}


	{{ form_start(form) }}
	<div class="row">
		<div class="col-sm">{{ form_row(form.curso) }}</div>
		<div class="col-sm">{{ form_row(form.fecha) }}</div>
	</div>
	<div class="row">
		<div class="col-sm">{{ form_row(form.titulo) }}</div>
		<div class="col-sm">{{ form_row(form.tipo) }}</div>
	</div>
	{{ form_row(form.estado) }}
	<h3>Alumnos</h3>
	<div class="form-text mb-0 help-text">
		Puede ver la lista de alumnos de este curso y si resuelven correctamente cada uno de los puntos de esta actividad.
		        Puede ver las consignas interactuando con el número de punto de la tabla.
	</div>
	<table class="table table-striped table-sm" id="tabla">
		<thead>
			<tr>
				{# <th>Id</th> #}
				<th>Apellido y Nombre</th>
				{% for pregunta in lista_detalles_actividad_mostrar %}
					<th>
						<span style="cursor: help;" data-bs-toggle="tooltip" data-bs-html="true" title="{{ pregunta.dato | raw }}">.{{ loop.index }}</span>
					</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% if(lista_alumnos|length > 0) %}
				{% for alumno in lista_alumnos %}
					<tr>
						{# <td>{{ alumno.Id }}</td> #}
						<td>
							<span data-bs-toggle="tooltip" data-bs-placement="top" title="CUA: {{ alumno.Cua }}">{{ alumno.Apellido }},
								{{ alumno.Nombre }}</span>
						</td>
						{% for pregunta in lista_detalles_actividad_mostrar %}
							<td id="respuesta_{{ pregunta.Id }}_{{ alumno.Id }}">

								{% if lista_interacciones[pregunta.Id][alumno.Id] is not defined or lista_interacciones[pregunta.Id][alumno.Id].Correcto is same as null %}
									<span style="cursor: help;" data-bs-toggle="tooltip" data-bs-placement="top" title="No completado">⚪</span>
								{% elseif lista_interacciones[pregunta.Id][alumno.Id].Correcto is same as false %}
									<span style="cursor: help;" data-bs-toggle="tooltip" data-bs-placement="top" title="Incorrecto">❌</span>
								{% elseif lista_interacciones[pregunta.Id][alumno.Id].Correcto is same as true %}
									<span style="cursor: help;" data-bs-toggle="tooltip" data-bs-placement="top" title="Correcto">✔️</span>
								{% endif %}

							</td>
						{% endfor %}
					</tr>
				{% endfor %}
			{% else %}
				<tr>
					<td colspan="5" class="text-center">No hay alumnos en el curso</td>
				</tr>
			{% endif %}
		</tbody>
	</table>
	{% if pregunta != 'f' %}
		<a id="pregunta" data-controller="scroller"></a>
		<div class="alert alert-warning alert-dismissible fade show animate__animated animate__flash text-center" role="alert">

			¿Está seguro que quiere
			{{ pregunta }}
			esta presentación de actividad?
		</div>
	{% endif %}
	{{ form_rest(form) }}
	{% if pregunta == 'f' %}
		<div class="row">
			<div class="col text-start">
				<a href="{{ path('app_presentacion_actividad') }}" class="btn btn-secondary">Volver</a>
			</div>

			{% if presentacion_actividad.estado != 'Anulado' %}
				<div class="col text-center">
					<a href="{{ path('app_presentacion_actividad_edit',{'id':presentacion_actividad.id,'modal':'f','pregunta':'anular'}) }}" class="btn btn-danger">Anular</a>
				</div>
			{% endif %}

			{% if presentacion_actividad.estado != 'Iniciado' %}
				<div class="col{{ presentacion_actividad.estado == 'Finalizado' ? ' text-end' : ' text-center' }}">
					<a href="{{ path('app_presentacion_actividad_edit',{'id':presentacion_actividad.id,'modal':'f','pregunta':'iniciar'}) }}" class="btn btn-success">Iniciar</a>
				</div>
			{% endif %}

			{% if presentacion_actividad.estado != 'Finalizado' %}
				<div class="col text-end">
					<a href="{{ path('app_presentacion_actividad_edit',{'id':presentacion_actividad.id,'modal':'f','pregunta':'finalizar'}) }}" class="btn btn-primary">Finalizar</a>
				</div>
			{% endif %}
		</div>
	{% else %}

		<a href="{{ path('app_presentacion_actividad_edit',{'id':presentacion_actividad.id}) }}" class="btn btn-secondary">Cancelar</a>
	{% endif %}


	{{ form_end(form) }}

	{# </turbo-frame> #}

	{# inseguro #}
	{# <div data-controller="mercureactividad" data-mercureactividad-audio-value="{{ asset('audio/not.wav') }}" data-mercureactividad-source-value="{{ mercure([ ('actividad/' ~ presentacion_actividad.id) ]) }}"></div> #}

	{# seguro  #}
	<div data-controller="mercureactividad" data-mercureactividad-audio-value="{{ asset('audio/not.wav') }}" data-mercureactividad-source-value="{{ 
	mercure
	(
	('actividad/' ~ presentacion_actividad.id),
	{
		subscribe: ('actividad/' ~ presentacion_actividad.id)
	}
	)
	}}"></div>

{% endblock %}
