{% extends 'base_users.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}Edu-track - Presentaciones
{% endblock %}
{% block bodytitle %}Presentacion
{% endblock %}

{% block body %}
	{{ include('alert.html.twig', with_context = true) }}

	{{ form_start(form) }}
    <div class="row">
        <div class="col-sm">{{ form_row(form.grado) }}</div>
        <div class="col-sm">{{ form_row(form.division) }}</div>
    </div>
	{{ form_rest(form) }}
	{{ form_end(form) }}
	<a href="{{ path('app_presentacion_actividad') }}" class="btn btn-secondary">Volver</a>

{% endblock %}
