<h3>Preguntas</h3>
<div data-controller="cuestionario" data-cuestionario-pregunta-value="{{ preguntatemplate|escape }}" data-cuestionario-respuesta-value="{{respuestatemplate|escape }}" data-cuestionario-nuevo-value="{{nuevo}}">
	<div><input type="button" value="Agregar Pregunta" data-action="click->cuestionario#agregarpreguntaclick" class="btn btn-success"></div>
{{detalleshtml|raw}}
</div>
<input type="text" id="detalle_eliminar" name="detalle[eliminar]" value="{{ detalles_eliminar }}">  
