<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        {% if nocache is defined %}<meta name="turbo-cache-control" content="no-cache">{% endif %}
        <title>
            {% block title %}Edu-Track
            {% endblock %}
        </title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>👨‍🏫️</text></svg>">
        <link rel="preload" as="image" href="{{ preload('/image/inf.png', { as: 'image' }) }}">
        

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

    </head>
    <body{# data-turbo="false" #}>
{#        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    👨‍🏫
                    Edu-track</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        {% if not is_granted('ROLE_USER') %}
                            <li class="nav-item">
                                <a class="nav-link{% if app.request.attributes.get( '_route' ) starts with 'app_inicio_general' %} active{% endif %}" aria-current="page" href="{{ path('app_inicio_general') }}">Inicio</a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_DOCENTE') %}
                            <li class="nav-item">
                                <a class="nav-link{% if app.request.attributes.get( '_route' ) starts with 'app_inicio_docente' %} active{% endif %}" aria-current="page" href="{{ path('app_inicio_docente') }}">Inicio</a>
                            </li>
                            
                            <li class="nav-item">
                                    <a class="nav-link{% if app.request.attributes.get( '_route' ) starts with 'app_curso' %} active{% endif %}" href="{{ path('app_curso') }}">Cursos</a>
                            </li>
                            <li class="nav-item">
                                    <a class="nav-link{% if app.request.attributes.get('_route') starts with 'app_asistencia' %} active{% endif %}" href="{{ path('app_asistencia') }}">Asistencia</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link{% if app.request.attributes.get( '_route' ) starts with 'app_usuario' %} active{% endif %}" href="{{ path('app_usuario') }}">Usuarios</a>
                            </li>
                        {% endif %}

                        <li class="nav-item">
                            <a class="nav-link{% if app.request.attributes.get( '_route' ) starts with 'app_about' %} active{% endif %}" href="{{ path('app_about') }}">Acerca de...</a>
                        </li>
                    </ul>
                    {% if is_granted('ROLE_USER') %}
                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav-item disabled">
                                    <a class="nav-link{% if app.request.attributes.get( '_route' ) starts with 'app_mi_cuenta' %} active{% endif %}" href="{{ path('app_mi_cuenta') }}" title="Mis Cuenta"><i class="bi bi-person-fill "></i> {{ app.user.username }}</a>
                            </li>
                            <li class="nav-item">

                                <a class="nav-link" href="{{ path('app_logout') }}">Salir</a>
                            </li>
                        </ul>
                    {% else %}
                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav-item">
                                <a class="nav-link{% if app.request.attributes.get( '_route' ) starts with 'app_login' %} active{% endif %}" href="{{ path('app_login') }}">Iniciar Sesión</a>
                            </li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </nav>#}
        {% block menu %}{% endblock %}
        <main class="container mt-3">
            <div class="bg-light pt-5 rounded-lg cuerpo">
                <h1>
                    {% block bodytitle %}{% endblock %}
                </h1>
                {% block body %}{% endblock %}
            </div>
        </main>
    </body>
</html>
