{% extends 'base_users.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}Edu-track - Actividades
{% endblock %}
{% block bodytitle %}Actividad
{% endblock %}

{% block body %}
	{{ include('alert.html.twig', with_context = true) }}

	{{ form_start(form) }}
    <div class="row">
        <div class="col-sm">{{ form_row(form.titulo) }}</div>
        <div class="col-sm">{{ form_row(form.tipo) }}{{ form_row(form.tipofake) }}</div>
    </div>
	{{ form_row(form.descripcion) }}
	{{ form_rest(form) }}
	{{ form_end(form) }}

	{# {{form(form)}} #}
	<a href="{{ path('app_actividad') }}" class="btn btn-secondary">Volver</a>

{% endblock %}
