{% extends 'base.html.twig' %}

{% block title %}Edu-track - Cursos
{% endblock %}
{% block bodytitle %}Cursos
{% endblock %}

{% block body %}
	{{ include('alert.html.twig', with_context = true) }}
	<form method="get" action="{{ app.request.uri }}" id="formsearch" data-controller="formsearch">
		<div class="row">
			<div class="col-md-4 mt-1">
				<a href="{{ path('app_curso_new') }}" class="btn btn-success">
					<i class="bi bi-plus-circle-fill"></i>
					Nuevo</a>
			</div>
			<div class="col-md-4 mt-1">
				<input type="hidden" value="{{ order }}" id="order" name="order">
				<div class="input-group">
					<label class="input-group-text" for="perpage">Mostrar:
					</label>
					<select class="form-select" name="perpage" id="perpage">
						{% for perpageoption in perpageoptions %}
							<option value="{{ perpageoption }}" {% if perpageoption == pager.MaxPerPage %} selected="selected" {% endif %}>{{ perpageoption }}</option>
						{% endfor %}
					</select>

				</div>
			</div>
			<div class="col-md-4 mt-1">
				<div class="input-group">
					<input type="search" name="search" class="form-control falserequired" placeholder="Buscar..." aria-label="Buscar..." value="{{ search }}" aria-describedby="button-search">
					<button class="btn btn-primary" type="submit" id="button-search">
						<i class="bi bi-search"></i>
					</button>
				</div>
			</div>
		</div>
	</form>
	<table class="table table-striped table-sm" id="tabla">
		<thead>
			<tr
				data-controller="orderheaders">
				{#
				                <th data-controller="ordercontrol" data-ordercontrol-order-value="1" data-action="click->ordercontrol#click">Id</th>
				                <th data-controller="ordercontrol" data-ordercontrol-order-value="2" data-action="click->ordercontrol#click">Grado - Divisi칩n</th>
				                <th data-controller="ordercontrol" data-ordercontrol-order-value="3" data-action="click->ordercontrol#click">Materia</th>
				                <th data-controller="ordercontrol" data-ordercontrol-order-value="4" data-action="click->ordercontrol#click">A침o Lectivo</th>
				                #}
				<th class="canorder">Id</th>
				<th class="canorder">Grado - Divisi칩n</th>
				<th class="canorder">Materia</th>
				<th class="canorder">A침o Lectivo</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% if pager|length > 0 %}
				{% for curso in pager %}
					<tr>
						<td>{{ curso.Id }}</td>
						<td>{{ curso.Grado }}
							{{ curso.division }}</td>
						<td>{{ curso.Materia }}</td>
						<td>{{ curso.Anio }}</td>
						<td>
							<a href="{{ path('app_curso_view',{'id':curso.id}) }}" class="btn btn-primary btn-sm" title="Ver">
								<i class="bi bi-eye"></i>
							</a>
							<a href="{{ path('app_curso_edit',{'id':curso.id}) }}" class="btn btn-primary btn-sm" title="Editar">
								<i class="bi bi-pencil-fill"></i>
							</a>
							<a href="{{ path('app_curso_delete',{'id':curso.id}) }}" class="btn btn-danger btn-sm" title="Eliminar">
								<i class="bi bi-trash-fill"></i>
							</a>
						</td>
					</tr>
				{% endfor %}
			{% else %}
                <tr>
						<td colspan="5" class="text-center">No hay resultados</td>
                </tr>
			{% endif %}
		</tbody>
	</table>
	<div class="row">
		<div class="col justify-content-center">
			{{ pagerfanta(pager, null,
        {
            'routeParams': {'perpage': pager.MaxPerPage, 'search': search},
        }) }}
		</div>
	</div>

{% endblock %}
